@if (wishListSeeds$ | async; as wishListSeeds) {
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
    @for (seed of wishListSeeds; track seed.key) {
      <app-book-summary-card
        [book]="seed"
        [isWishList]="true"
        (removeFromWishlist)="removeBookToList(seed.key)"></app-book-summary-card>
    }
  </div>
} @else {<app-loader></app-loader>}
<simple-notifications></simple-notifications>
