.header-logo {
  display: flex;
  flex-direction: row;
  place-content: center flex-start;
  align-items: center;
  z-index: 10;

  span {
    text-transform: uppercase;
    font-weight: bold;
    color: #2072AF;
    font-size: 18px;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #2072AF;
  color: white;
  padding: 1rem 1.5rem;

  a {
    color: white;
  }
}

.header-search {
  background: url(../../../assets/images/header-bg.jpg);
  background-size: 100%;
}
