<header
  class="flex flex-col items-center justify-between max-w-full px-2 md:px-6 py-2 md:flex-row shadow-md">
  <a href="/" class="active header-logo">
    <img src="../../../assets/images/logo.png" class="w-24 py-8 md:py-0 g-image">
    <span>Universal Library</span>
  </a>
  <nav class="z-10">
    <ul class="navigation rounded-lg">
      @for (link of navLinks; track link) {
        <li class="px-8">
          <a [routerLink]="link.link">{{ link.name }}</a>
        </li>
      }
    </ul>
  </nav>
</header>


<div class="bg-blue-600 dark:bg-blue-800 w-screen flex justify-center items-center header-search">
  <!-- bg-cover bg-no-repeat bg-center-->
  <section
    class="w-full h-[360px] bg-blue-100 flex flex-col justify-center items-center bg-opacity-40">
    <h1
      class="text-white text-center font-semibold xl:text-5xl lg:text-4xl md:text-3xl sm:text-2xl xs:text-xl">
      Find a book or author</h1>

    <div class="flex relative rounded-md w-full p-4 max-w-xl">
      <input type="text" name="q" id="query" placeholder="Search" required
             class="w-full h-12 p-3 rounded-md border-2 border-r-white rounded-r-none border-gray-500 placeholder-gray-500 dark:placeholder-gray-300 dark:bg-gray-500dark:text-gray-300 dark:border-none"
             [(ngModel)]="searchTerm"
      />
      <div class="group relative cursor-pointer">
        <div class="flex items-center justify-between space-x-5 bg-white px-8 h-12">
          <a class="menu-hover py-2 text-sm font-normal text-sky" onClick="">
            Search by
          </a>
        </div>
        <div
          class="invisible absolute z-50 flex w-full flex-col bg-gray-100 py-1 px-4 text-gray-800 shadow-xl group-hover:visible">
          <a class="my-1 block border-b border-gray-100 py-1 text-gray-500 hover:text-black md:mx-2"
             (click)="search('title')">
            Title
          </a>
          <a class="my-1 block border-b border-gray-100 py-1 text-gray-500 hover:text-black md:mx-2"
             (click)="search('subject')">
            Subject
          </a>
          <a class="my-1 block border-b border-gray-100 py-1 text-gray-500 hover:text-black md:mx-2"
             (click)="search('author')">
            Author
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
