<div
  class="book-container max-w-lg shadow">
  <!-- Book cover -->
  <img class="h-48 mx-auto"
       src="{{book?.cover_img || '../../../../../assets/images/no-cover.jpg'}}"
       alt="{{book?.title}}">

  <!-- Book details -->
  <section class="book-container__details">
    <h4 class="font-bold text-l ">{{ book?.title }}</h4>
    <p><span class="font-bold">Author(s)</span>:
      <span>
        @if (book?.author_name.length) {
          {{ book?.author_name?.slice(0, 3).join(' | ') }}
          @if (book?.author_name.length > 3) {
            <span class="font-semibold"> | And more</span>
          }
        } @else {
          No authors to display!!
        }
      </span>
    </p>
    @if (book?.publish_year?.length) {
      <p class="mt-2 text-xs">Year of publication: <span>{{ book?.publish_year[0] }}</span></p>
    } @else {
      <p class="mt-2 text-xs"> No publication year to display!!</p>
    }
  </section>

  <!-- Action buttons -->
  <div class="book-container__actions bg-gray-100">
    <ng-container *ngIf="!isWishList; else showWishlistActionBtns">
      @if (book?.isInWishlist) {
        <a (click)="removeFromWishlist.emit(book?.key)" class="py-1 font-regular mr-1 flex flex-row items-center">
          <span class="ml-1">Remove from wishlist</span>
        </a>
      } @else {
        <a (click)="addToWishlist.emit(book.key)" class="py-1 font-regular mr-1 flex flex-row items-center">
          <span class="ml-1">Add to wishlist</span>
        </a>
      }

      <a [routerLink]="['/books', book?.id]"
         class="py-1 font-regular mr-1 flex flex-row items-center">
        <span class="ml-1">More details</span>
      </a></ng-container>

    <ng-template #showWishlistActionBtns>
      <a (click)="removeFromWishlist.emit(book?.key)" class="py-1 font-regular mr-1 flex flex-row items-center">
        <span class="ml-1">Remove from wishlist</span>
      </a>
    </ng-template>
  </div>
</div>
