.book-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;

  img {
    object-position: center;
    object-fit: cover;
  }

  &__details {
    margin-top: 1rem;
    text-align: center;

    //h4, p, small {
    //  white-space: nowrap;
    //  text-overflow: ellipsis;
    //  overflow: hidden;
    //}
  }

  &__actions {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a {
      font-size: 14px;
      cursor: pointer;
    }
  }
}

