<div class="details-container">
  @if (author$ | async; as author) {

    <app-breadcrumbs [displayLabel]="author?.name || ''"></app-breadcrumbs>

    <div
      class="relative flex flex-col md:flex-row md:space-x-3 space-y-5 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-5xl mx-auto border border-white bg-white">
      <div class="w-full md:w-1/3 bg-white grid place-items-center">
        <img
          src="{{author?.author_img || '../../../../../assets/images/no-cover.jpg' }}"
          alt="tailwind logo" class="rounded-xl"/>
      </div>
      <div class="w-full md:w-2/3 bg-white flex flex-col space-y-2 p-3">
        <h4 class="font-bold text-xl max-w-xs md:max-w-3xl">{{ author?.name }}</h4>
        <p class="text-sm" [innerHTML]="author?.bio"></p>
        <p class="mt-2 text-sm font-bold">Date of birth: <span class="font-normal">{{ author.birth_date }}</span></p>
        <p class="mt-2 text-sm font-bold">Alternate names: <span class="font-normal">{{ author.alternate_names }}</span>
        </p>
      </div>
    </div>
  } @else {
    <app-loader></app-loader>
  }
</div>
