@if (searchParams?.searchTerm) {
  <div class="w-screen flex items-center shadow">
    <div class="px-4 mx-auto my-2 max-w-7xl text-center">
      <h1 class="text-1xl font-title">
        Search results: {{ searchParams?.searchTerm }}
      </h1>
    </div>
  </div>

  @if (books$ | async; as books) {
    @if (books && books.length) {
      <!-- List books$ -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
        @for (book of books; track book.key; let i = $index) {
          <app-book-summary-card
            [book]="book"
            (addToWishlist)="addBookToList(book)"
            (removeFromWishlist)="removeBookFromList(book.key)"
          ></app-book-summary-card>
        } @empty {
          <p>No books to display!!</p>
        }

      </div>
    } @else {
      <p>No books to display!!</p>
    }
  } @else {
    <app-loader></app-loader>
  }
} @else {
  <div class="relative mx-auto max-w-7xl px-6 pt-16 pb-12 sm:px-12 lg:pt-24">
    <header class="mx-auto max-w-2xl text-center">
      <h1 class="text-3xl font-semibold tracking-tight text-sky-900 sm:text-4xl">Welcome to Universal Library</h1>
      <p class="mt-2 font-semibold text-gray-400">
        Search for a book to get started
      </p>
    </header>
  </div>
}
<simple-notifications></simple-notifications>
