<div class="details-container">

  @if(book$ | async; as book) {

    <app-breadcrumbs [displayLabel]="book?.title || ''"></app-breadcrumbs>

    <div
      class="relative flex flex-col md:flex-row md:space-x-3 space-y-5 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-5xl mx-auto border border-white bg-white">
      <div class="w-full md:w-1/3 bg-white grid place-items-center">
        <img
          src="{{book?.cover_img || '../../../../../assets/images/no-cover.jpg'}}"
          alt="tailwind logo" class="rounded-xl"/>
      </div>
      <div class="w-full md:w-2/3 bg-white flex flex-col space-y-2 p-3">
        <h4 class="font-bold text-xl max-w-xs md:max-w-3xl">{{book?.title}}</h4>
        <p class="text-sm font-bold"> Authors: @if(book$ | async; as book) {
          @for (author of book.authors; track author) {
            <a class="font-normal" [routerLink]="['/books/author', author?.author?.key.split('/')[2]]">{{author?.author?.key }}
            </a>
          }}</p>
        <p class="mt-2 text-sm font-bold" >Description:  <span class="font-normal" [innerHTML]="book?.description?.value"></span></p>
        @if(book.subjects) {
          <p class="mt-2 text-sm font-bold">Subjects: <span class="font-normal">{{book?.subjects?.join(',')}}</span></p>
        }
      </div>
    </div>
  } @else {
    <app-loader></app-loader>
  }
</div>




