.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;

  //a {
  //  padding: 0.5rem 1.5rem;
  //  border: 1px solid #2072AF;
  //  border-radius: 0.25rem;
  //  display: inline-flex;
  //  align-items: center;
  //  margin: 0 0.5rem 1.5rem 0.5rem;
  //}
}
